<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="test@gmail.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true"
                 userName="test@gmail.com" password="test" 
                 defaultCredentials="false" />  
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <httpRuntime targetFramework="4.5"/>

    <siteMap enabled="true" defaultProvider="DefaultSiteMap">
      <providers>
        <clear />
        <add name="DefaultSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap"/>
      </providers>
    </siteMap>

    <authentication mode="Forms">
      <forms name="MyAppCookie"
             loginUrl="~/Login.aspx"
             timeout="30" 
             path="/">
      </forms>
    </authentication>
    
    <compilation debug="true">
      <assemblies>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    
    <profile defaultProvider="DefaultProfileProvider" 
             enabled="true" 
      automaticSaveEnabled ="false">
      <providers>
        <clear />
        <add name="DefaultProfileProvider" 
             type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
             connectionStringName="UserDB" 
             applicationName="/"/>
      </providers>
      <properties>
        <add name ="FirstName" type ="System.String"/>
        <add name ="LastName" type="System.String"/>
        <add name ="DateOfBirth" type="System.DateTime"/>
      </properties>
    </profile>
    
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <clear />
        <add name="DefaultMembershipProvider" 
             type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" 
             connectionStringName="UserDB" 
             enablePasswordRetrieval="false" 
             enablePasswordReset="true" 
             requiresQuestionAndAnswer="false" 
             requiresUniqueEmail="true" 
             maxInvalidPasswordAttempts="5" 
             minRequiredPasswordLength="6" 
             minRequiredNonalphanumericCharacters="0" 
             passwordAttemptWindow="10" 
             applicationName="/"/>
      </providers>
    </membership>
    
    <roleManager defaultProvider="DefaultRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="DefaultRoleProvider" 
             type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, 
             PublicKeyToken=31bf3856ad364e35" 
             connectionStringName="UserDB" 
             applicationName="/"/>
      </providers>
    </roleManager>
    
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <clear />
        <add name="DefaultSessionProvider" 
             type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, 
             PublicKeyToken=31bf3856ad364e35" 
             connectionStringName="UserDB"/>
      </providers>
    </sessionState>
    <!--<siteMap>
      <providers>
        <clear />
        <add name="MySiteMap" type="System.Web.XmlSiteMapProvider,
             System.web,
             Version 2.0.36.0. Culture=neutral, 
             PublicKeyToken=b035f5f7f11d0a3a"
             siteMapFile="~/Web.sitemap"/>
      </providers>
    </siteMap>-->
  </system.web>
  <connectionStrings>
    <add name="UserDB" 
         providerName="System.Data.SqlClient" 
         connectionString="Data Source=(localDB)\v11.0;                           
         Initial Catalog=Membership;                           
         Integrated Security=SSPI;                           
         AttachDBFilename=|DataDirectory|\UserDB.mdf"/>
  </connectionStrings>
</configuration>